* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.volunteer-container {
  display: block;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.volunteer-card {
  border: 0.15rem solid rgb(6, 101, 50);
}

.volunteer-card-title {
  background-color: white;
  text-align: center;
  padding-bottom: 14px;
}

.volunteer-card-body {
  background-color: white;
  border-style: none;
}

.btn-container {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volunteer-btn {
  margin-top: 5px;
}
