.cga-session-card {
    width: 30rem !important
}

.volunteer-availability-card {
    width: 40rem !important;
}

.input-form-label {
    display: inline-block;
	vertical-align: middle;
}

.required-asterisk {
    color: red
}

.cga-content-container {
    flex-wrap: nowrap
}

td input[type="checkbox"] {
    float: left;
    margin: 0 auto;
    width: 100%;
}

.create-session {
    padding-bottom: 10px;
}