.suggestion-dropdown {
  background-color: white;
  color: black;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
  position:absolute;
  z-index:1000;
  background-color: #1a8fff;
  color: white;
  margin-top: 5px;
}

.suggestions {
  background-color: white;
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 5px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  position:absolute;
  z-index:1000
}
.suggestions li {
  padding: 0.5rem;
}
.suggestion-active,
.suggestions li:hover {
  background-color: #1a8fff;
  color: white;
  cursor: pointer;
  /* font-weight: 700; */
}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}


  /* .example {
    padding: 0 25px;
  }
  
  label {
    display: block;
    margin: 5px 0;
  }
  
  code {
    padding: .2em .5em;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
  }
  
  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #cccccc;
  }
  
  .item {
    padding: 2px 6px;
    cursor: default;
  }
  
  .item-highlighted {
    color: white;
    background-color: #4095bf;
  }
  
  .item-header {
    background-color: #eeeeee;
    color: #454545;
    font-weight: bold;
  } */