.cga-session-card {
    width: 30rem !important
}

.volunteer-availability-card {
    width: 40rem !important;
}

.input-form-label {
    display: inline-block;
	vertical-align: middle;
}

.required-asterisk {
    color: red
}

.cga-content-container {
    flex-wrap: nowrap
}

td input[type="checkbox"] {
    float: left;
    margin: 0 auto;
    width: 100%;
}

.create-session {
    padding-bottom: 10px;
}

.dropdown-list {
    max-width:180px;
    overflow:hidden;
}

.cga-dropdown-container {
    margin-bottom: 15px 
}

.notification-table th {
    vertical-align: middle;
}

.th-btn {
    float:right;
}

.button-28 {
    appearance: button;
    background-color: #f01443;
    border: 1px solid #f01443;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

.td-center {
    text-align: center; 
}

.notif-overlay {
    margin-left: 2.5em;
    margin-bottom: 50px;
}

.notif-user-row {
    vertical-align: middle;
}

.new-users {
    max-height: 40em;
    overflow-y: auto
}

.notification-card {
    margin-bottom: 20px;
}

.no-volunteers-to-show {
    text-align: center; 
}